@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kanit:wght@500&family=Poppins:wght@300;400;500&family=Princess+Sofia&display=swap');
/* header */
header{
    width: 100%;
    height: 500px;
    background-image: url(./images/background.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* navbar */
/* logo */
.logo{
    color:red !important;
    font-size: 30px !important;
}
/* nav links */
.navbar-nav .nav-link{
    font-size: 20px;
    color: white;
}
.list-menu{
    color: white !important;
}
/* hero section */
/* title */
h1{
    margin-top: 5% !important;
    margin-left: 5%;
    font-size: 50px !important;
    color: white !important;
 }
.lin1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.lin2{
    font-family: 'Princess Sofia', cursive;
}
/* main section */
main h2{
    font-size: 30px;
    margin-top: 30px;  
    margin-bottom: 30px; 
    text-align: center;
}
/* packages */
.cols{
    width: 250px;
    height: 500px;
}
/* cards */
.card-box h3{
    font-size: 25px;
 }
.card-box p{
    text-align: justify;
    font-size: 12px;
 }
/* button */
.button{
    text-align: center;
}
.button h3{
    font-size: 18px; 
    margin-left: auto;  
    background-color: blue;
    color: white;
    font-weight: normal;
    display: inline;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
/* kerala section */
.kerala{
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}
.highlights{
    border: 1px solid;
    margin-top: 20px;
}
.highlights img{
    width: 100%;
    height: 250px;
}
.banner-btn{
    background-color: black;
    color: white;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}
/* media  */
.cols2{
    width: 100%;
    height: 550px;
}
.sub-col2{
    width: 100%;
    height: 100%;
}
.sub-col2 img{
    width: 100%;
    height: 400px;
}
/* north india */
.cols3{
    height: 100% !important;
}
.cols3 img{
    height: 50% !important;
}
/* reviews */
.cols1{
    margin-top: 20px !important;
    height: 300px !important;
}
.cols1 h3{
    text-align: center;
}
.cols2{
    height: 400px !important;
}
/* services */
.services{
    width: 100%;
    height: 200px;
}
/* footer section */
footer{
    margin-top: 120px;
    border: 1px solid;
}
.colsf{
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
}
.foot-title{
    margin-top: 30px;
    color: red;
    font-size: 20px;
}
.foot-title1{
    margin-top: 30px;
    font-size: 20px;
    color: orange;
}
.icon-set{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 35%;
}
.icons{
    margin-left: 20px;
}
.brand{
    font-size: 30px;
}
.foot-logo{
    margin-top: 30px;
    height: 200px;
    width: 50%;
}
.img-foot{
    font-size: 20px;
}
@media only screen and (max-width: 767px) {
    header{
        background-size: cover !important;
        width: 100% !important;
        height: 350px !important;
        margin-bottom: 2% !important;
        position: relative;
    }
    .small-list{
        position: absolute;
        display: inline-block;
        right: 0;
        top: 10px;
    }
    .small-bar{
        font-size: 15px !important;
    }
    h1{
        font-size: 38px !important;
    }
    h2{
        font-size: 30px !important;
    }
    h3{
        font-size: 24px !important;
    }
}